# Port number
PORT=3000

# Database type | options: pg, mysql, better-sqlite3, sqlite3, mssql, postgres
DATABASE_TYPE=mysql
# Database host
DATABASE_HOST=localhost
# Database port
DATABASE_PORT=3306
# Database username
DATABASE_USERNAME=root
# Database for unit tests
DATABASE_TEST_NAME=node-boilerplate-test
# Database password
DATABASE_PASSWORD=root
# Database name
DATABASE_NAME=node-boilerplate
# Database synchronize
DATABASE_CHARSET=utf8

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Public URL of the app (required for sending emails &amp; password reset links)
PUBLIC_APP_URL=http://localhost
